.App {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.setValueCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.startMaxCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #ce8b20;
}

input {
  width: 220px;
  border-radius: 5px;
  border-color: #56b1b1;
}

button {
  font-size: 14px;
  background-color: #56b1b1;
  color: blanchedalmond;
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.valueBtn {
  width: 100px;
  margin: 10px 5px;
}
